name: '.Net code quality check'

on:
  workflow_call:
    inputs:
      working-directory:
        description: 'Project working directory'
        required: true
        type: string
      test-directory:
        description: 'Project working directory'
        required: true
        type: string
      dotnet-version:
        description: '.Net SDK version'
        required: true
        type: string
jobs:
  setup-environment:
    uses: ./.github/workflows/set-up.yml
    with:
      dotnet-version: ${{ inputs.dotnet-version }}
      working-directory: "../${{ inputs.working-directory }}"
      
  code-quality-check:
    needs: setup-environment
    runs-on: ubuntu-latest
    steps:
      - name: Build with warnings as errors (code quality)
        run: dotnet build --no-restore -c Release -warnaserror
        working-directory: ${{ inputs.working-directory }}

      - name: Run tests
        run: dotnet test --no-build --verbosity normal
        working-directory: "../${{ inputs.test-directory }}"
