# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Hello World App .Net main pipeline

on:
  push:
    branches: [ "main" ]
    paths:
      - 'app/HelloWorldApi/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'app/HelloWorldApi/**'
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select deployment environment'
        required: true
        default: 'Non-Prod'
        type: choice
        options:
          - Non-Prod
          - Prod
env:
    APP_WORKING_DIR: "./app/HelloWorldApi/"
    TEST_DIRECTORY: "./app/HelloWorldApi.Tests"
    DOTNET_VERSION: "8.0"
    
jobs:
  code-quality-check:
    uses: ./.github/workflows/code-quality-check.yml
    with:
      working-directory: ${{ env.APP_WORKING_DIR }}
      test-directory: ${{ env.TEST_DIRECTORY }}
      dotnet-version: ${{ env.DOTNET_VERSION }}
