# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Hello World App .Net main pipeline

on:
  push:
    branches: [ "main" ]
    paths:
      - 'app/HelloWorldApi/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'app/HelloWorldApi/**'
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select deployment environment'
        required: true
        default: 'Non-Prod'
        type: choice
        options:
          - Non-Prod
          - Prod
      publish-type:
        description: 'Select the publish type: Artifac or Docker image'
        required: true
        default: 'Artifact'
        type: choice
        options:
          - Artifact
          - Image
          
jobs:
  prepare-variables:
    name: Prepare Variables For Running
    runs-on: ubuntu-latest
    outputs:
      APP_WORKING_DIR: ${{ steps.set-vars.outputs.APP_WORKING_DIR }}
      TEST_DIRECTORY: ${{ steps.set-vars.outputs.TEST_DIRECTORY }}
    steps:
    - name: Set variables
      id: set-vars
      run: |
        echo "APP_WORKING_DIR=${{ vars.APP_WORKING_DIR }}" >> $GITHUB_OUTPUT
        echo "TEST_DIRECTORY=${{ vars.TEST_DIRECTORY }}" >> $GITHUB_OUTPUT
  # code-quality-and-security-check:
  #   name: Code Quality And Security Check
  #   needs: prepare-variables
  #   uses: ./.github/workflows/code-quality-check.yml
  #   permissions:
  #     security-events: write
  #   with:
  #     working-directory: ${{ needs.prepare-variables.outputs.APP_WORKING_DIR }}
  #     test-directory: ${{ needs.prepare-variables.outputs.TEST_DIRECTORY }}
  #     dotnet-version: ${{ vars.DOTNET_VERSION }}
  publish-app:
    name: Publish Application to ${{ github.event.inputs.publish-type }}
    needs: prepare-variables #code-quality-and-security-check
    uses: ./.github/workflows/publish-artifact.yml
    with:
      working-directory: ${{ needs.prepare-variables.outputs.APP_WORKING_DIR }}
      dotnet-version: ${{ vars.DOTNET_VERSION }}
      publish-type: ${{ github.event.inputs.publish-type }}
      environment: ${{ github.event.inputs.environment }}
    secrets: inherit
