name: 'Set up .Net evironment'

on:
  workflow_call:
    inputs:
      working-directory:
        description: 'Project working directory'
        required: true
        type: string
      dotnet-version:
        description: '.NET SDK version'
        required: true
        type: string
jobs:
  setup-dotnet:
    name: Checkout and Setup .NET SDK
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ inputs.dotnet-version }}
        
    - name: Create NuGet cache folder
      run: mkdir -p ~/.nuget/packages

    - name: Cache NuGet packages
      uses: actions/cache@v3
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          ${{ runner.os }}-nuget-
          
    - name: Restore dependencies
      working-directory: "/${{ inputs.working-directory }}"
      run: dotnet restore
